.macbook-pro-14-output-child {
    position: absolute;
    top: 43px;
    left: 0px;
    border-radius: 16px;
    background-color: rgba(203, 199, 221, 0);
    width: 413px;
    height: 896px;
}
.macbook-pro-14-output-item {
    position: absolute;
    top: 35px;
    left: 28px;
    border-radius: 14px;
    background-color: #d9d9d9;
    width: 400px;
    height: 690px;
}
.macbook-pro-14-output-inner {
    position: absolute;
    top: 151px;
    left: 56px;
    border-radius: 8px;
    width: 291px;
    height: 117px;
}
.div {
    position: absolute;
    top: 162px;
    left: 172px;
    font-weight: 80;
    color: #1d1a1a;
}
.mm {
    position: absolute;
    top: 3px;
    left: 140px;
    font-weight: 80;
    display: inline-block;
    width: 48px;
}
.y {
    position: absolute;
    top: 8px;
    left: 0px;
    font-weight: 80;
    white-space: pre-wrap;
    display: inline-block;
    width: 200px;
}
.group-x-child {
    
    position: absolute;
    top: 35px;
    left: 32px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 102px;
    font-weight: 80;
    color: #1d1a1a;
}
.group-z1 {
    position: absolute;
    top: 200px;
    left: 130px;
    width: 200px;
    height: 38px;
}
.group-icon {
    position: absolute;
    height: 1.22%;
    width: 1.06%;
    top: 23.52%;
    right: 94.44%;
    bottom: 75.25%;
    left: 4.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.div2 {
    position: absolute;
    top: 66px;
    left: 46px;
    font-size: 30px;
    font-weight: 100;
    color: #be0303;
    display: inline-block;
    width: 18px;
    height: 25px;
}
.group-icon1 {
    position: absolute;
    height: 1.22%;
    width: 1.06%;
    top: 18.64%;
    right: 94.44%;
    bottom: 80.14%;
    left: 4.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.mm1 {
    position: absolute;
    top: 3px;
    left: 140px;
    font-weight: 80;
    display: inline-block;
    width: 48px;
}
.z {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 80;
    white-space: pre-wrap;
    display: inline-block;
    width: 200px;
}
.group-x-item {
    position: absolute;
    top: 28px;
    left: 32px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}

.group-z-item {
    position: absolute;
    top: 28px;
    left: 32px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}

.group-x1 {
    position: absolute;
    top: 130px;
    left: 130px;
    width: 200px;
    height: 38px;
}
.target-in-z {
    position: absolute;
    top: 75px;
    left: 62px;
    font-weight: 400;
    color: #343232;
}
.position-of-machine-1-child {
    position: absolute;
    top: 27px;
    left: 10px;
    border-radius: 8px;
    background-color: #f5f4f400;
    /* border: 1px solid rgba(0, 0, 0, 0.79); */
    box-sizing: border-box;
    width: 250px;
    height: 236px;
}
.mm2 {
    position: absolute;
    top: 11px;
    left: 140px;
    font-weight: 100;
    display: inline-block;
    width: 48px;
}
.z1 {
    position: absolute;
    top: 11px;
    left: 0px;
    font-weight: 80;
    white-space: pre-wrap;
    display: inline-block;
    width: 200px;
}
.group-z-child {
    position: absolute;
    top: 38px;
    left: 32px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 110px;
    font-size: 26px;
    font-weight: 100;
}
.group-z {
    position: absolute;
    top: 180px;
    left: 85px;
    width: 200px;
    height: 49px;
}
.mm3 {
    position: absolute;
    top: 8px;
    left: 140px;
    font-weight: 80;
    display: inline-block;
    width: 48px;
}
.group-y-child {
    position: absolute;
    top: 35px;
    left: 32px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}
.div4 {
    position: absolute;
    top: 0px;
    left: 109px;
    font-weight: 100;
}
.group-y {
    position: absolute;
    top: 118px;
    left: 85px;
    width: 200px;
    height: 46px;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 110px;
    font-weight: 100;
}
.group-x2 {
    position: absolute;
    top: 50px;
    left: 85px;
    width: 200px;
    height: 46px;
}
.div6 {
    position: absolute;
    top: -6px;
    left: 0px;
    font-size: 30px;
    font-weight: 100;
    color: #be0303;
    display: inline-block;
    width: 18px;
    height: 25px;
}
.position-of-machine-1 {
    position: absolute;
    top: 260px;
    left: 46px;
    border-radius: 8px;
    width: 300px;
    height: 303px;
}
.please-fill-in {
    position: absolute;
    top: 700px;
    left: 220px;
    font-size: 12px;
    font-weight: 100;
    color: #be0303;
    display: inline-block;
    width: 173px;
    height: 19px;
}
.position-of-machine {
    position: absolute;
    top: 260px;
    left: 65px;
    font-weight: 400;
    color: #343232;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #ffa7a7;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 196px;
    height: 58px;
    transition: background-color 0.5s ease;
}

.group-child:hover {
    background-color: rgb(207, 248, 247); /* Hover color */
}
.restart {
    position: absolute;
    top: 8px;
    left: 54px;
    font-weight: 100;
}
.codicondebug-restart {
    position: absolute;
    top: 17px;
    left: 22px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.rectangle-parent {
    position: absolute;
    top: 820px;
    left: 120px;
    width: 196px;
    height: 58px;
    font-size: 26px;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #fffdcb;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 196px;
    height: 58px;
}
.Trajection {
    position: absolute;
    top: 8px;
    left: 38px;
    width: 120px;
    height: 37px;
    font-weight: 100;
}
.typcneject-icon {
    position: absolute;
    top: 13px;
    left: 18px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.rectangle-group {
    position: absolute;
    top: 719px;
    left: 108px;
    width: 196px;
    height: 58px;
    font-size: 26px;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #c8ffd4;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 196px;
    height: 58px;
    transition: background-color 0.5s ease;
}

.group-inner:hover {
    background-color: rgb(207, 248, 247); /* Hover color */
}
.calculate {
    position: absolute;
    top: 8px;
    left: 46px;
    font-weight: 100;
}
.icoutline-calculate-icon {
    position: absolute;
    top: 15px;
    left: 16px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.rectangle-container {
    position: absolute;
    top: 745px;
    left: 120px;
    width: 196px;
    height: 58px;
    cursor: pointer;
    font-size: 26px;
    transition: background-color 0.5s ease;
}

.group-inner:hover {
    background-color: rgb(207, 248, 247); /* Hover color */
}

.rectangle-div {
    position: absolute;
    top: 24px;
    left: 1150px;
    border-radius: 16px 0px 0px 16px;
    background-color: rgba(82, 82, 82, 0.7);
    width: 355px;
    height: 406px;
}
.angle-of-machine {
    position: absolute;
    color: #cdcdcd;
    top: 275px;
    left: 1200px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    width: 213px;
    height: 18px;
}
.mm5 {
    position: absolute;
    top: 0px;
    left: 204px;
    font-weight: 100;
    display: inline-block;
    width: 48px;
}
.line-div {
    position: absolute;
    top: 27px;
    left: 32px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 5px;
}
.div7 {
    position: absolute;
    top: 0px;
    left: 104px;
    font-weight: 100;
    color: #1d1a1a;
}
.group-x3 {
    position: absolute;
    top: 136px;
    left: 1200px;
    width: 200px;
    height: 38px;
}
.div8 {
    position: absolute;
    top: 0px;
    left: 108px;
    font-size: 20px;
    font-weight: 100;
}
.group-x4 {
    position: absolute;
    top: 179px;
    left: 1200px;
    width: 200px;
    height: 38px;
}
.div9 {
    position: absolute;
    top: 0px;
    left: 109px;
    font-size: 20px;
    font-weight: 100;
}
.group-x5 {
    position: absolute;
    top: 226px;
    left: 1200px;
    width: 200px;
    height: 38px;
}
.degree {
    position: absolute;
    top: 0px;
    left: 200px;
    font-weight: 100;
    display: inline-block;
    width: 38px;
}
.group-x-child3 {
    position: absolute;
    top: 27px;
    left: 88.5px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}
.div10 {
    position: absolute;
    top: 0px;
    left: 158px;
    font-size: 20px;
    font-weight: 100;
}
.group-x6 {
    position: absolute;
    top: 300px;
    left: 1170px;
    width: 342px;
    height: 38px;
}
.output {
    position: absolute;
    /* color: #3f3f3f; */
    top: 43px;
    left: 1250px;
    font-weight: 100;
    display: inline-block;
    width: 99px;
    height: 37px;
}
.position-of-machine1 {
    position: absolute;
    color: #cdcdcd;
    top: 89px;
    left: 1200px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    width: 213px;
    height: 50px;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 16px;
    background-color: #e8c9ff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 200px;
    height: 58px;
    transition: background-color 0.5s ease;
}

.group-child1:hover {
    background-color: rgb(207, 248, 247); /* Hover color */
}
.more-details {
    position: absolute;
    top: 14px;
    left: 45px;
    font-weight: 100;
    display: inline-block;
    width: 122px;
    height: 28px;
}
.carbonreport-icon {
    position: absolute;
    top: 13px;
    left: 12px;
    width: 32px;
    height: 32px;
    overflow: hidden;
}
.group-div {
    position: absolute;
    top: 360px;
    left: 1220px;
    width: 196px;
    height: 58px;
    font-size: 20px;
    cursor: pointer;
}
.Spring-constant {
    position: absolute;
    top: 510px;
    left: 65px;
    font-weight: 400;
    color: #343232;
}
.group-k {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 200px;
    height: 46px;
    color:  #565555;
    font-weight: 300;

}
.group-k-child {
    
    position: absolute;
    top: 28px;
    left: 30px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 95px;
    height: 1px;
}
.mm4{
    position: absolute;
    top: 0px;
    left: 130px;
    font-weight: 80;
    display: inline-block;
    width: 48px;
}   

.contraction-distance {
    position: absolute;
    top: 510px;
    left: 122px;
    font-weight: 400;
    color: #343232;
}
.group-kx {
    position: absolute;
    top: 50px;
    left: 125px;
    width: 100px;
    height: 46px;
    color:  #565555;

}
.group-kx-child {
    
    position: absolute;
    top: 28px;
    left: 45px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 80px;
    height: 1px;
}
.mm5{
    position: absolute;
    top: 2px;
    left: 140px;
    font-weight: 100;
    display: inline-block;
    width: 48px;
}  

.Mass {
    position: absolute;
    top: 605px;
    left: 65px;
    font-weight: 400;
    color: #343232;
}
.group-m {
    position: absolute;
    top: 40px;
    left: 65px;
    width: 200px;
    height: 46px;
    color:  #565555;

}
.group-m-child {
    
    position: absolute;
    top: 28px;
    left: 35px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
    height: 1px;
}
.mm5{
    position: absolute;
    top: 2px;
    left: 140px;
    font-weight: 100;
    display: inline-block;
    width: 48px;
}   


.coordinate-of-targetk{
    width: 80px;
    height: 35px;
    position: absolute;
    top: 28%;
    left: 43%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 90;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;

    
}

.coordinate-of-targetkx{
    width: 70px;
    height: 35px;
    position: absolute;
    top: 28%;
    left: 46%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 80;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;

    
}

.coordinate-of-targetm{
    width: 80px;
    height: 35px;
    position: absolute;
    top: 28%;
    left: 47%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 80;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;

}

.coordinate-of-targetx {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

.coordinate-of-targety {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 22%;
    left: 45%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

.coordinate-of-targetz {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

.coordinate-of-targetx1 {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 22%;
    left: 45%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

.coordinate-of-targetz1 {
    width: 80px;
    height: 35px;
    position: absolute;
    top: 22%;
    left: 45%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

#resultx {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

#resulty {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

#resultz {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}

#resultangle {
    width: 100px;
    height: 35px;
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-60%, -50%);
    font-size: 20px;
    font-weight: 100;
    font-family: Saira;
    color: #040000;
    text-align: center; /* Center-align the text */
    display: inline-block;
}


.macbook-pro-14-output {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 240, 202, 0.2) 29.5%, rgba(255, 240, 202, 0)), linear-gradient(180deg, rgba(255, 244, 214, 0), #e2aed2 63.5%, rgba(246, 209, 255, 0)), linear-gradient(180deg, #ffe5e6, #e2aed2 51.5%, #ac88c6 76.5%), linear-gradient(180deg, rgba(254, 255, 243, 0), rgba(203, 199, 221, 0.07) 27%, rgba(116, 105, 184, 0.2) 72.5%);
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Saira;
}



#calculator {
    position: absolute;
    
    width: 1512px;
    height: 982px;
}

.calculator-expression-bar {
    display: none !important;
}

.dcg-do-not-blur.dcg-show-keypad.dcg-btn-flat-gray {
    display: block !important;
}

.dcg-do-not-blur.dcg-show-keypad.dcg-btn-flat-gray.dcg-btn-flat-gray {
    display: block !important;
}

/* Hide the horizontal scroll-to-cursor button */
.dcg-disable-horizontal-scroll-to-cursor.dcg-exppanel {
    display: none !important;
}
/* Hide the expressions list */
.dcg-left {
    display: none !important;
}
